.venv/
__pycache__/
*.pyc
.env

.pytest_cache/
.coverage
htmlcov/

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

infra/environments/dev/terraform.tfvars

.vscode/
.idea/